.table-container {
    padding: 20px;
}

.table-card {
    padding: 2px;
}

.table-card-header {
    padding-bottom: 10px; 
}

.empty-orders-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
}
