.table-container {
    padding: 20px;
}

.table-card {
    padding: 2px;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.error {
  text-align: center;
  color: red;
  padding: 16px;
}

.table-wrapper {
    overflow-x: auto;
    max-width: 100%;
}

.product-image {
  width: 100px;
  border-radius: 8px;
  display: block;   
  margin: 20px auto;  
}

td.mat-column-image {
  width: 125px;
  text-align: center;
}
